h1 {
    color: white;
    background-color: black;
    font-size: 50px;
    font-family:cursive;
    font-weight: bold;
}

h2 {
    background-color: rgb(81, 39, 116);
    color: white;
    font-style: italic;
    font-family: sans-serif;
    text-align: center;
    font-weight: lighter;
}

h3 {
    background-color: skyblue;
    font-family: cursive;
    text-decoration: underline;
    text-align: right;
    font-weight: lighter;
}